In [0]:
# import tại đây

# đây là thư viện để vẽ chart
import matplotlib.pyplot as plt
%matplotlib notebook

**Câu 1** : Tạo một `Time Series`, đặt tên là `vnm` với các yêu cầu sau :
- `DatetimeIndex` là các ngày làm việc (tức là chỉ tính các ngày trong tuần) bắt đầu từ 2018-10-01 và kết thúc tại 2018-12-28.
- Dữ liệu được lấy từ file `vnm.txt`

**Câu 2** : Kiểm tra `dtype` của `vnm`. Nếu không phải kiểu số, hãy thực hiện việc chuyển đổi phù hợp.

**Câu 3** : Lấy dữ liệu trong tháng 10 của `vnm` và đặt tên là `vnm_oct`.

**Câu 4** : Lấy dữ liệu trong `vnm_oct` bằng `.asfreq()` tần suất là `'D'`, đặt tên là `vnm_oct_d`.

Các bạn có thể thấy là `vnm_oct_d` có thêm những `label` mới với giá trị là `NaN`.

**Câu 5** : Tạo ra :
- `vnm_10b` bằng cách dùng giá trị liền sau để điền vào `NaN`.
- `vnm_10f` bằng cách dùng giá trị liền trước để điền vào `NaN`.

Vẽ `vnm10_10b` và `vnm10_10f` bằng phương thức `.plot()`.

In [0]:
Phương thức `.asfred()`