# Giới thiệu
Vào một buổi chiều đẹp trời, lớp MIS khóa 2018 được yêu cầu chơi trò Khủng long. Hôm nay, trong bài thực hành này, chúng ta cùng phân tích kết quả đạt được.

# Dữ liệu
Dữ liệu được lưu trữ trong file `dinosaur.csv` với các cột :
- `name` : họ và tên.
- `gender` : giới tính (`M` là nam, `F` là nữ).
- `t1`, `t2`, ..., `t10` : điểm lần chơi thứ nhất, thứ 2, ..., thứ 10.

# Lời cảm ơn
Cảm ơn các bạn đã giúp tôi có được dữ liệu cho bài thực hành này. ❤❤❤

Những bạn có tên trong danh sách sau sẽ được cộng $0.5$ điểm cho bài thực hành :
- Lê Đình Doanh
- Huỳnh Ngọc Trinh
- Cao Duy Hiếu
- Thuận Thị Thảo Vân
- Nguyễn Hoài Nam
- Nguyễn Thành Luân
- Vũ Thị Thanh Nga
- Nguyễn Dĩ Khan
- Lương Thế Nam
- Nguyễn Quốc Đăng Khoa
- Nguyễn Duy Tuấn
- Phan Hoàng Kim
- Nguyễn Phong Phú
- Nguyễn Khắc Tưởng
- Nguyễn Duy Nam
- Võ Thị Diễm Quyên
- Lâm Quang Tĩnh
- Nguyễn Hoàng Tuấn
- Phạm Văn Thọ
- Phạm Thị Kim Ngân

# Bài tập

In [0]:
import pandas as pd
import math

**Câu 1** : Đọc dữ liệu vào `DataFrame`.

In [0]:
dino = pd.read_csv('https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/dinosaur.csv')
dino.head()

                 name gender    t1    t2    t3  ...    t6    t7   t8    t9   t10
0       Lê Đình Doanh      M  1673   586   259  ...   533   184  264   504   350
1    Huỳnh Ngọc Trinh      F   507   615   765  ...  1277  2141  975   761  2619
2        Cao Duy Hiếu      M   925  1548   114  ...   539    74  999  2060    65
3  Thuận Thị Thảo Vân      F   308   660  1162  ...   170   206  211   239   198
4     Nguyễn Hoài Nam      M    55   521  1327  ...    44   132  254    44   738

[5 rows x 12 columns]

**Câu 2** : Trong dữ liệu trên, có bao nhiêu nam, bao nhiêu nữ.

In [0]:
dino.gender.value_counts()

M    15
F     5
Name: gender, dtype: int64

**Câu 3** : In ra dữ liệu của chính bạn, nếu không có thì in ra dữ liệu của một bạn bất kỳ mà bạn thích.

In [0]:
dino[dino.name == 'Lê Đình Doanh']

            name gender    t1   t2   t3   t4    t5   t6   t7   t8   t9  t10
0  Lê Đình Doanh      M  1673  586  259  764  1859  533  184  264  504  350

**Câu 4 (1 điểm)** : In ra dữ liệu của những bạn có **tên** bắt đầu bằng chữ `N`. Quy ước : tên một người là từ cuối cùng trong họ và tên đầy đủ của người đó. Ví dụ `Huỳnh Ngọc Trinh` có tên là `Trinh`, `Nguyễn Quốc Đăng Khoa` có tên là `Khoa`.

---
_Gợi ý_ : dùng `.str.split()` để tách tên.

In [0]:
def lay_chu_cai_dau_trong_ten(ho_va_ten) :
    ten = ho_va_ten.split()[-1] # như quy ước, tên là từ cuối cùng
    return ten[0]

dino[dino.name.apply(lay_chu_cai_dau_trong_ten) == 'N']

                 name gender    t1   t2  ...    avg    ln_avg       sigma     score
4     Nguyễn Hoài Nam      M    55  521  ...  327.1  5.790266  393.450877  0.014679
6    Vũ Thị Thanh Nga      F    88   85  ...  160.3  5.077047   80.880618  0.062005
8       Lương Thế Nam      M  1172  706  ...  591.7  6.383000  359.832085  0.017690
14     Nguyễn Duy Nam      M    43  121  ...   79.4  4.374498   39.906888  0.106938
19  Phạm Thị Kim Ngân      F    80  142  ...  250.5  5.523459  168.084632  0.032667

[5 rows x 16 columns]

**Câu 5** : In ra số điểm lớn nhất từng lần chơi.

In [0]:
dino.max(numeric_only = True)

t1     3734
t2     1548
t3     3284
t4     2981
t5     2170
t6     5137
t7     2471
t8     1985
t9     2060
t10    2619
dtype: int64

**Câu 6** : In ra thống kê mô tả về điểm số của chính bạn, nếu không có thì làm tương tự **Câu 3**.

In [0]:
cols = ['t1', 't2', 't3', 't4', 't5', 't6', 't7', 't8', 't9', 't10']
dino.loc[dino.name == 'Lê Đình Doanh', cols].transpose().describe()

                 0
count    10.000000
mean    697.600000
std     591.296354
min     184.000000
25%     285.500000
50%     518.500000
75%     719.500000
max    1859.000000

**Câu 7** : Tạo cột `avg` để lưu điểm trung bình từng người.

In [0]:
dino = dino.assign(avg = dino.mean(axis = 'columns'))

**Câu 8** : Tính điểm trung bình toàn bộ lớp.

---
_Gợi ý_ : Điểm trung bình cả lớp chính là trung bình cộng của điểm trung bình của từng người.

In [0]:
class_avg = dino.mean().mean()
class_avg

511.42

**Câu 9** : In ra những bạn có điểm trung bình cao hơn điểm trung bình cả lớp.

In [0]:
dino[dino.avg > class_avg]

                  name gender    t1    t2    t3  ...    t7    t8    t9   t10     avg
0        Lê Đình Doanh      M  1673   586   259  ...   184   264   504   350   697.6
1     Huỳnh Ngọc Trinh      F   507   615   765  ...  2141   975   761  2619  1269.4
2         Cao Duy Hiếu      M   925  1548   114  ...    74   999  2060    65   676.4
3   Thuận Thị Thảo Vân      F   308   660  1162  ...   206   211   239   198   607.9
8        Lương Thế Nam      M  1172   706   681  ...   905   174   301   325   591.7
10     Nguyễn Duy Tuấn      M   561   340    52  ...   215   351    45   701   566.5
13   Nguyễn Khắc Tưởng      M   776   287  1252  ...   932   731   136   385   574.1
15   Võ Thị Diễm Quyên      F   870  1025  1168  ...   846  1786  1120   574   912.0
17   Nguyễn Hoàng Tuấn      M  3734   310  3284  ...  2471  1985   362   325  2199.6

[9 rows x 13 columns]

**Câu 10** : Tính điểm trung bình các bạn nam và các bạn nữ.

In [0]:
dino.groupby('gender').mean().mean(axis = 'columns')

gender
F    640.020000
M    468.553333
dtype: float64

Trong phần này, chúng ta dùng công thức sau đây để xếp hạng mọi người 

$
score = \frac{\ln\overline{s}}{1 + \sigma}
$

Trong đó :
- $score$ là điểm số dùng để xếp hạng.
- $\ln(x)$ là logarit tự nhiên.
- $\overline{s}$ là điểm trung bình của người chơi.
- $\sigma$ là độ lệch chuẩn của dữ liệu.

Lưu ý : Công thức này được tạo ra để thực hành.

**Câu 11** : Tính $\ln{\overline{s}}$ từ cột `avg`.

---
_Gợi ý_ : dùng `.apply()` và `math.log()` (`import math`).

In [0]:
dino = dino.assign(ln_avg = dino.avg.apply(math.log))

**Câu 12** : Tính độ lệch chuẩn trong dữ liệu của từng người.

In [0]:
dino = dino.assign(sigma = dino.std(axis = 'columns'))

**Câu 13** : Tạo cột `score` với giá trị được cho bởi công thức trên.

In [0]:
dino = dino.assign(score = dino.ln_avg / (1 + dino.sigma))

**Câu 14** : In ra 3 người có `score` lớn nhất.

In [0]:
dino.sort_values('score').tail(3)

                name gender  t1   t2  ...   avg    ln_avg      sigma     score
14    Nguyễn Duy Nam      M  43  121  ...  79.4  4.374498  39.906888  0.106938
11    Phan Hoàng Kim      M  41   50  ...  57.1  4.044804  27.444461  0.142200
12  Nguyễn Phong Phú      M  42   47  ...  42.5  3.749504  11.277361  0.305400

[3 rows x 16 columns]

**Câu 15 (1 điểm)** : Tạo một `DataFrame` mới với các cột sau :
- `trial` : gồm các giá trị từ $1, 2, \cdots, 10$.
- `name` : tên người chơi đạt điểm cao nhất trong lần chơi tương ứng với `trial`.
- `score` : điểm số cao nhất.

---
_Gợi ý_ : tạo `DataFrame` thích hợp với từng lần chơi rồi dùng `pd.concat()`.

In [0]:
cols = ['t1', 't2', 't3', 't4', 't5', 't6', 't7', 't8', 't9', 't10']

best = pd.DataFrame(columns = ['name', 'score'])

for t in cols :
    b = dino.loc[dino[t] == dino[t].max(), ['name', t]]
    b.columns = ['name', 'score']
    best = best.append(b, ignore_index = True, sort = False)

best.index = range(1, 11)
best.index.name = 'trial'
best

                    name score
trial
1      Nguyễn Hoàng Tuấn  3734
2           Cao Duy Hiếu  1548
3      Nguyễn Hoàng Tuấn  3284
4        Nguyễn Duy Tuấn  2981
5       Huỳnh Ngọc Trinh  2170
6      Nguyễn Hoàng Tuấn  5137
7      Nguyễn Hoàng Tuấn  2471
8      Nguyễn Hoàng Tuấn  1985
9           Cao Duy Hiếu  2060
10      Huỳnh Ngọc Trinh  2619