# Giới thiệu
Khi nhắc đến Liên Minh Huyền Thoại thì không thể không nhắc đến Faker, người chơi đường giữa huyền thoại.
<img src="https://gamepedia.cursecdn.com/lolesports_gamepedia_en/1/1c/SKT_Faker_2019_Split_2.png?version=a243b84e58413a8e9e6ecfb69f897d3d" width=480/>

Trong bài thực hành, chúng ta cùng phân tích về thành tích đánh xếp hạng của Faker trong khoảng thời gian 10/11/2019 - 18/11/2019.

# Dữ liệu :
Dữ liệu của bạn được thu thập từ trang [op.gg](https://www.op.gg/summoner/userName=Hide+on+bush) và bao gồm các cột sau :
- `champion` : tướng mà Faker đã chơi.
- `status` : kết quả trận đấu (`'Victory'` là chiến thắng, `'Defeat'` là thất bại). 
- `date` : ngày chơi.
- `kill` : số lần hạ gục.
- `death` : số lần bị hạ gục.
- `assist` : số lần hỗ trợ hạ gục.
- `cs` : số lính tiêu diệt trong trận.
- `duration` : thời gian trận đấu, được ghi dưới dạng `mm:ss`.

# Bài tập

In [0]:
import pandas as pd

**Câu 1** : Đọc dữ liệu vào `DataFrame`.

In [2]:
faker = pd.read_csv('https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/faker.csv')
faker.head()

   champion   status        date  kill  death  assist   cs duration
0    Irelia   Defeat  2019-11-18     5      5       2  237    25:39
1      Fizz  Victory  2019-11-18     5      3      16  175    23:02
2      Ryze  Victory  2019-11-18     6      3       9  269    27:53
3      Ryze  Victory  2019-11-18     6      2       2  231    22:23
4  Nocturne   Defeat  2019-11-18     4      3       0  152    20:38

**Câu 2** : Chuyển đổi kiểu dữ liệu cho cột `date`.

In [0]:
faker = faker.assign(date = pd.to_datetime(faker.date))

**Câu 3 (1 điểm)** : Quy đổi dữ liệu của cột `duration` về đơn vị phút (tức là `18:30` sẽ thành `18.5`).

In [4]:
def convert_to_min(x) :
    m, s = x.split(':')
    return int(m) + int(s) / 60

faker = faker.assign(duration = faker.duration.apply(convert_to_min))
faker.head()

   champion   status       date  kill  death  assist   cs   duration
0    Irelia   Defeat 2019-11-18     5      5       2  237  25.650000
1      Fizz  Victory 2019-11-18     5      3      16  175  23.033333
2      Ryze  Victory 2019-11-18     6      3       9  269  27.883333
3      Ryze  Victory 2019-11-18     6      2       2  231  22.383333
4  Nocturne   Defeat 2019-11-18     4      3       0  152  20.633333

**Câu 4** : Tính thời gian trung bình một trận.

In [5]:
faker.duration.mean()

26.05859106529209

**Câu 4** : Trung bình mỗi ngày Faker đã chơi bao nhiêu trận?

In [6]:
faker.shape[0] / faker.date.nunique()

10.777777777777779

**Câu 5** : Faker đã chơi bao nhiêu vị tướng khác nhau, in ra những tướng đó.

In [7]:
print('Số tướng khác nhau ', faker.champion.nunique())
print('Các tướng đó là ', faker.champion.unique())

Số tướng khác nhau  41
Các tướng đó là  ['Irelia' 'Fizz' 'Ryze' 'Nocturne' 'Nautilus' 'Rakan' 'LeBlanc' 'Akali'
 'Neeko' 'Veigar' 'Jayce' 'Qiyana' 'Twisted Fate' 'Zoe' 'Sion' 'Yasuo'
 'Lee Sin' 'Ezreal' "Rek'Sai" 'Gangplank' 'Rumble' 'Gragas' 'Renekton'
 'Lucian' 'Kled' 'Viktor' 'Tristana' 'Annie' 'Zed' 'Alistar' 'Kassadin'
 'Kennen' 'Kayle' 'Diana' 'Orianna' 'Ahri' 'Ornn' 'Azir' 'Warwick' 'Ivern'
 'Singed']

$KDA$ là một chỉ số thường thấy khi phân tích về một tuyển thủ nào đó, $KDA$ được tính như sau.

Gọi $K$ là số lần hạ gục, $D$ là số lần bị hạ gục và $A$ là số lần hỗ trợ hạ gục thì :

$KDA = 
\left\{\begin{matrix}
K + A &\text{khi} &D = 0 \\ 
(K + A)/D &\text{khi} &D > 0
\end{matrix}\right.
$

Trong trường hợp $D = 0$, người ta gọi là `Perfect KDA`.

**Câu 6** : In ra những trận đấu Faker có `Perfect KDA`.

In [8]:
faker[faker.death == 0]

        champion   status       date  kill  death  assist   cs   duration
14        Veigar  Victory 2019-11-17     1      0       1  151  15.766667
34  Twisted Fate   Defeat 2019-11-15     1      0       6  228  23.216667
50        Gragas  Victory 2019-11-13     2      0       8  209  23.583333
64         Akali  Victory 2019-11-12     3      0       2  174  16.816667
68          Kled  Victory 2019-11-12     1      0       6   73  13.550000
86      Nocturne  Victory 2019-11-11     5      0       4  180  20.500000

**Câu 7** : Trong những trận không đạt được `Perfect KDA`, in ra 5 trận có $KDA$ cao nhất.

In [9]:
faker[faker.death != 0].assign(
    kda = (faker.kill + faker.assist) / faker.death
).sort_values('kda', ascending = False).head(5)

        champion   status       date  kill  death  assist   cs   duration   kda
19  Twisted Fate  Victory 2019-11-16     8      1      10  154  20.583333  18.0
36     Gangplank  Victory 2019-11-14     7      1      11  199  22.166667  18.0
23         Akali  Victory 2019-11-16     9      1       2  192  22.666667  11.0
60        Rumble  Victory 2019-11-12     3      1       8  200  27.166667  11.0
43      Nocturne  Victory 2019-11-13    10      2       7  228  24.383333   8.5

**Câu 8** : Tính số lính tiêu diệt trung bình mỗi phút trong một trận đấu và để trong cột `cs_per_min`.

In [11]:
faker = faker.assign(cs_per_min = faker.cs / faker.duration)
faker.head()

   champion   status       date  kill  ...  assist   cs   duration  cs_per_min
0    Irelia   Defeat 2019-11-18     5  ...       2  237  25.650000    9.239766
1      Fizz  Victory 2019-11-18     5  ...      16  175  23.033333    7.597685
2      Ryze  Victory 2019-11-18     6  ...       9  269  27.883333    9.647340
3      Ryze  Victory 2019-11-18     6  ...       2  231  22.383333   10.320179
4  Nocturne   Defeat 2019-11-18     4  ...       0  152  20.633333    7.366721

[5 rows x 9 columns]

**Câu 9** : Tính thời gian thi đấu trung bình của các trận được `Perfect KDA` và các trận **không** được `Perfect KDA`.

In [13]:
print('Thời gian chơi trung bình khi được Perfect KDA', faker[faker.death == 0].duration.mean())
print('Thời gian chơi trung bình khi không được Perfect KDA', faker[faker.death != 0].duration.mean())

Thời gian chơi trung bình khi được Perfect KDA 18.905555555555555
Thời gian chơi trung bình khi không được Perfect KDA 26.530219780219774

**Câu 10** : Tính tỷ lệ thắng của Faker.

In [14]:
faker[faker.status == 'Victory'].size / faker.size

0.4639175257731959

**Câu 11** : Tính tổng thời gian chơi mỗi ngày.

In [15]:
faker.groupby('date').duration.sum()

date
2019-11-10    151.316667
2019-11-11    409.683333
2019-11-12    450.650000
2019-11-13    466.700000
2019-11-14    176.583333
2019-11-15    234.516667
2019-11-16    235.433333
2019-11-17    267.450000
2019-11-18    135.350000
Name: duration, dtype: float64

**Câu 12 (1 điểm)** : Tính $KDA$ tương ứng mỗi tướng.

In [16]:
def calculate_kda(x) :
    return (x.kill.sum() + x.assist.sum()) / x.death.sum()

faker.groupby('champion').apply(calculate_kda)

champion
Ahri             2.666667
Akali            2.382353
Alistar          3.000000
Annie            3.400000
Azir             4.000000
Diana            1.076923
Ezreal           3.000000
Fizz             7.000000
Gangplank       18.000000
Gragas           3.600000
Irelia           1.400000
Ivern            3.833333
Jayce            3.181818
Kassadin         4.000000
Kayle            1.285714
Kennen           1.000000
Kled             5.333333
LeBlanc          2.923077
Lee Sin          5.500000
Lucian           2.000000
Nautilus         1.400000
Neeko            1.333333
Nocturne         2.609756
Orianna          5.500000
Ornn             1.000000
Qiyana           3.000000
Rakan            1.625000
Rek'Sai          0.200000
Renekton         3.090909
Rumble           5.875000
Ryze             2.490909
Singed           3.500000
Sion             3.166667
Tristana         2.818182
Twisted Fate    25.000000
Veigar           2.250000
Viktor           7.000000
Warwick          5.500000
Yasuo            2.333333
Zed              0.500000
Zoe              2.625000
dtype: float64

**Câu 13 (1 điểm)** : In ra 3 tướng có tỷ lệ thắng cao nhất.

In [19]:
def calculate_winrate(x) :
    return x[x.status == 'Victory'].size / x.size

faker.groupby('champion').apply(calculate_winrate).sort_values(ascending = False)

champion
Annie           1.000000
Lee Sin         1.000000
Ezreal          1.000000
Azir            1.000000
Ivern           1.000000
Alistar         1.000000
Fizz            1.000000
Rumble          1.000000
Singed          1.000000
Gangplank       1.000000
Viktor          1.000000
Warwick         1.000000
Yasuo           1.000000
Orianna         1.000000
Nocturne        0.500000
LeBlanc         0.500000
Kled            0.500000
Gragas          0.500000
Zoe             0.500000
Renekton        0.500000
Tristana        0.500000
Twisted Fate    0.500000
Veigar          0.500000
Jayce           0.500000
Ryze            0.466667
Akali           0.363636
Lucian          0.333333
Diana           0.000000
Irelia          0.000000
Nautilus        0.000000
Kassadin        0.000000
Kayle           0.000000
Kennen          0.000000
Zed             0.000000
Neeko           0.000000
Ornn            0.000000
Qiyana          0.000000
Rakan           0.000000
Rek'Sai         0.000000
Sion            0.000000
Ahri            0.000000
dtype: float64

**Câu 14 (1 điểm)** : In ra 3 tướng có $KDA$ thấp nhất.

In [18]:
faker.groupby('champion').apply(calculate_kda).sort_values().head(3)

champion
Rek'Sai    0.2
Zed        0.5
Ornn       1.0
dtype: float64