# Giới thiệu
Trong bài này, chúng ta sẽ thực hiện một số phân tích trên dữ liệu thành tích của Đội tuyển Quốc gia Việt Nam từ năm 2010 - 2019 (chỉ tính các trận đấu chính thức trong khuôn khổ của FIFA).

In [0]:
# Chạy thử ô này nhé! :)
%%html
<video width="720" controls>
  <source src="https://video.twimg.com/amplify_video/957176532127989760/vid/1280x720/nDjaQQWr-iJFwTva.mp4" type="video/mp4">
</video>

# Dữ liệu
Dữ liệu của bài này được lấy từ [trang wiki](https://en.wikipedia.org/wiki/Vietnam_national_football_team_results) và được lưu trong file `vietnam_football_results.csv`.

Dữ liệu bao gồm các cột :
- `date` : ngày diễn ra trận đấu.
- `opponent` : đối thủ của đội tuyển Việt Nam.
- `score` : tỷ số trận đấu (chỉ tính trong 90' thi đấu chính thức). Số bàn thắng của đội tuyển Việt Nam luôn viết trước.
- `venue` : địa điểm tổ chức trân đấu.
- `venue_type` : vị thế của Đội tuyển Việt Nam
    - `H` : đá ở sân nhà.
    - `A` : đá ở sân khách.
    - `N` : đá ở sân trung lập.
- `competition` : giải đấu mà Đội tuyển Việt Nam tham gia.

# Bài tập

In [0]:
import pandas as pd

**Câu 1** : Đọc dữ liệu vào `DataFrame`.

In [12]:
vn = pd.read_csv('https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/vietnam_football_results.csv')
vn.head()

         date  ... venue_type
0  2010-01-06  ...          A
1  2010-01-17  ...          H
2  2010-09-20  ...          H
3  2010-09-22  ...          H
4  2010-09-24  ...          H

[5 rows x 6 columns]

**Câu 2** : Kiểm tra kiểu dữ liệu các cột và thực hiện những chuyển đổi cần thiết.

In [0]:
vn = vn.assign(date = pd.to_datetime(vn.date))

**Câu 3** : Đội tuyển Việt Nam đã thi đấu bao nhiêu trận trong giai đoạn 2010 - 2019, trong đó có bao nhiêu trận đá ở sân nhà, sân khách và sân trung lập.

In [13]:
print('Số trận đã thi đấu :', vn.shape[0])
vn.venue_type.value_counts()

Số trận đã thi đấu  95

H    50
A    41
N     4
Name: venue_type, dtype: int64

**Câu 4** : Trong các trận ở sân nhà, Đội tyển Việt Nam thi đấu ở bao nhiêu địa điểm khác nhau, in ra những địa điểm đó.

In [15]:
print('Số địa điểm khác nhau khi thi đấu ở sân nhà', vn[vn.venue_type == 'H'].venue.nunique())
vn[vn.venue_type == 'H'].venue.unique()

Số địa điểm khác nhau khi thi đấu ở sân nhà 5

array(['Mỹ Đình National Stadium, Hanoi',
       'Thống Nhất Stadium, Ho Chi Minh City',
       'Gò Đậu Stadium, Bình Dương', 'Lạch Tray Stadium, Hải Phòng',
       'Hàng Đẫy Stadium, Hanoi'], dtype=object)

**Câu 5**: Đội tuyển Việt Nam đã thi đấu trung bình bao nhiêu trận mỗi năm?

In [18]:
vn.shape[0] / vn.date.dt.year.nunique()

9.5

**Câu 6** : In ra số trận đội tuyển Việt Nam đá mỗi năm.

In [19]:
vn.date.dt.year.value_counts().sort_index()

2010    15
2011     5
2012    13
2013     6
2014    10
2015     5
2016    13
2017     6
2018    10
2019    12
Name: date, dtype: int64

**Câu 7**: Đội tuyển đã thi đấu với bao nhiêu đội bóng, trong đó, đội nào nhiều lần nhất?

In [20]:
print('Số đối thủ đã thi đấu', vn.opponent.nunique())
vn.opponent.value_counts().sort_values().tail(1)

Số đối thủ đã thi đấu 33

Malaysia    12
Name: opponent, dtype: int64

**Câu 8 (1 điểm)** : Từ cột `score`, tạo ra hai cột mới lần lượt là :
- `goal` : số bàn thắng Đội tuyển Việt Nam ghi được.
- `conceded_goal` : số bàn bị thủng lưới của Đội tuyển Việt Nam.

---
_Gợi ý_ : dùng `.str.split('-')` để tách chuỗi từ `score`.

In [23]:
vn = vn.assign(
    goal = vn.score.apply(lambda x : int(x.split('-')[0])), 
    conceded_goal = vn.score.apply(lambda x : int(x.split('-')[1]))
)
vn.head()

        date     opponent score  ... venue_type goal conceded_goal
0 2010-01-06      Lebanon   1-1  ...          A    1             1
1 2010-01-17     China PR   1-2  ...          H    1             2
2 2010-09-20       Kuwait   3-0  ...          H    3             0
3 2010-09-22    Australia   0-2  ...          H    0             2
4 2010-09-24  North Korea   0-0  ...          H    0             0

[5 rows x 8 columns]

**Câu 9** : In ra những trận mà đội tuyển Việt Nam ghi được nhiều bàn thắng nhất?

In [25]:
vn[vn.goal == vn.goal.max()]

         date opponent score  ... venue_type goal conceded_goal
10 2010-12-02  Myanmar   7-1  ...          H    7             1
16 2011-07-03    Macau   7-1  ...          A    7             1

[2 rows x 8 columns]

**Câu 10** : Tính số bàn thắng trung bình của đội tuyển Việt Nam.

In [26]:
vn.goal.mean()

1.5473684210526315

**Câu 11** : Tính tỷ lệ thắng của Đội tuyển Việt Nam.

In [27]:
vn[vn.goal > vn.conceded_goal].size / vn.size

0.43157894736842106

**Câu 12** : Lấy ra các trận giao hữu trong khoảng thời gian trên. Biết rằng, các trận giao hữu được ghi là `'Friendly'` trong `competition`.

In [30]:
friendly = vn[vn.competition == 'Friendly']
friendly.head()

         date   opponent score  ... venue_type goal conceded_goal
5  2010-10-08      India   1-3  ...          A    1             3
6  2010-10-12     Kuwait   1-3  ...          A    1             3
19 2011-10-07      Japan   0-1  ...          A    0             1
20 2012-06-08   China PR   0-3  ...          A    0             3
21 2012-06-10  Hong Kong   2-1  ...          A    2             1

[5 rows x 8 columns]

**Câu 13** : Tính tỷ lệ thắng của Đội tuyển Việt Nam trong các trận giao hữu.

In [31]:
friendly[friendly.goal > friendly.conceded_goal].size / friendly.size

0.5

**Câu 14** : Số bàn thua trung bình trong các trận đấu **không phải** giao hữu.

In [32]:
vn.loc[vn.competition != 'Friendly', 'conceded_goal'].mean()

1.1232876712328768