# Giới thiệu
<img src="https://i.imgur.com/Aqx1Zm5.png"/>

Liên Minh Huyền Thoại (viết tắt: LMHT, tiếng Anh: League of Legends, viết tắt tiếng Anh: LoL) là một trò chơi video đấu trường trận chiến trực tuyến nhiều người chơi (MOBA) được Riot Games phát triển trên cảm hứng từ bản mod *Defense of the Ancients* của **Warcraft III: Frozen Throne**. Trò chơi được công bố đầu tiên vào ngày 7 tháng 10 năm 2008 và phát hành vào ngày 27 tháng 10 năm 2009. Kể từ khi phát hành, Liên Minh Huyền Thoại được đón nhận rất tích cực, và trở nên phổ biến trong những năm sau đó. Đây được coi là một trong những tựa game thành công nhất mọi thời đại.

Trong Liên Minh Huyền Thoại, mỗi người chơi được gọi là một "triệu hồi sư" (summoner), điều khiển một nhân vật, gọi là "tướng" (Champion), để đối đầu với một đội những người chơi khác hoặc các đối thủ máy tính. Trong chế độ chơi truyền thống, mục tiêu cuối cùng của một đội là phá hủy nhà chính của đội đối phương – công trình nằm trong căn cứ của đối phương và được những công trình khác bảo vệ.

---
Trong bài thực hành này, chúng ta sẽ thực hiện một số phân tích về tướng của Liên Minh Huyền Thoại.

# Dữ liệu

Dữ liệu cho bài thực hành được lấy từ [trang wiki](https://leagueoflegends.fandom.com/wiki/League_of_Legends_Wiki) và được lưu trong file `lol_champions.csv` (https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/lol_champions.csv)

Dữ liệu bao gồm :
- `champion` : tên của tướng.
- `title` : danh hiệu tướng.
- `release_date` : ngày ra mắt.
- `attack_at_lv1` : chỉ số tấn công cơ bản ở cấp độ 1.
- `attack_at_lv18` : chỉ số tấn công cơ bản ở cấp độ 18.
- `health_at_lv1` : chỉ số máu cơ bản ở cấp độ 1.
- `health_at_lv18` : chỉ số máu cơ bản ở cấp độ 18.
- `primary` : phân loại tướng.

# Bài tập

In [0]:
# nơi import
import pandas as pd

**Câu 1** : Đọc dữ liệu vào `DataFrame`, lưu dưới tên `champs`.

In [3]:
champs = pd.read_csv('https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/lol_champions.csv', sep = ';', decimal = ',')
champs.head()

  champion                title  ... health_at_lv18     primary
0   Aatrox     the Darkin Blade  ...         2110.0  Juggernaut
1     Ahri  the Nine-Tailed Fox  ...         2090.0       Burst
2    Akali   the Rogue Assassin  ...         2190.0    Assassin
3  Alistar         the Minotaur  ...         2375.4    Vanguard
4    Amumu        the Sad Mummy  ...         2041.1    Vanguard

[5 rows x 8 columns]

**Câu 2** : Thực hiện những điều chỉnh kiểu dữ liệu phù hợp (`release_date` phải có kiểu thời gian, các chỉ số tấn công, máu phải có kiểu số).

In [4]:
champs = champs.assign(release_date = pd.to_datetime(champs.release_date))

champs.dtypes

champion                  object
title                     object
release_date      datetime64[ns]
attack_at_lv1            float64
attack_at_lv18           float64
health_at_lv1            float64
health_at_lv18           float64
primary                   object
dtype: object

**Câu 3** : Chuyển cột `primary` vào giữa hai cột `title` và `release_date`.

In [0]:
champs = champs.reindex(columns = ['champion', 'title', 'primary', 'release_date', 'attack_at_lv1', 'attack_at_lv18', 'health_at_lv1', 'health_at_lv18'])

**Câu 4** : Cho biết có bao nhiêu tướng trong dữ liệu trên.

In [8]:
champs.shape[0]

146

**Câu 5** : Lấy ra những tướng tên bắt đầu bằng chữ `N` và kết thúc bằng chữ `S`.

In [9]:
champs[(champs.champion.str[0] == 'N') & (champs.champion.str[-1] == 's')]

    champion                     title  ... health_at_lv1 health_at_lv18
75     Nasus  the Curator of the Sands  ...        561.20         2091.2
76  Nautilus   the Titan of the Depths  ...        576.48         2038.5

[2 rows x 8 columns]

**Câu 6** : Tên các tướng đến từ hư không (một vùng đất trong game) thì luôn có ký tự `'` (nháy đơn) trong tên như một đặc điểm nhận diện. Lấy ra những tướng đến từ hư không.

_Gợi ý_ : dùng `.str.find()`

In [10]:
champs[champs.champion.str.find("'") > -1]

     champion                   title  ... health_at_lv1 health_at_lv18
17   Cho'Gath  the Terror of the Void  ...         574.4         1934.4
47     Kai'Sa    Daughter of the Void  ...         571.0         2033.0
56    Kha'Zix          the Voidreaver  ...         572.8         2017.8
59    Kog'Maw  the Mouth of the Abyss  ...         534.0         2030.0
91    Rek'Sai       the Void Burrower  ...         570.0         2015.0
127   Vel'Koz     the Eye of the Void  ...         520.0         2016.0

[6 rows x 8 columns]

**Câu 7** : Trong danh hiệu của tướng thường có từ `the`, tuy nhiên, vẫn có vài tướng nằm ngoài quy tắc này. Lấy ra các tướng đó.

In [11]:
champs[champs.title.str.find('the') == -1]

    champion                 title  ... health_at_lv1 health_at_lv18
25   Evelynn       Agony's Embrace  ...         572.0         2000.0
43       Jax   Grandmaster at Arms  ...         592.8         2037.8
88     Quinn       Demacia's Wings  ...         532.8         1977.8
138   Yorick     Shepherd of Souls  ...         580.0         2280.0

[4 rows x 8 columns]

**Câu 8** : Lấy ngày ra mắt của các tướng `Ryze`, `Yasuo` (Daxua), `Zed`, `Lee Sin`, `Teemo`, `Kalista`, `Zoe` và `Vayne`.

In [12]:
champs.loc[champs.champion.isin(['Ryze', 'Yasuo', 'Zed', 'Lee Sin', 'Teemo', 'Kalista', 'Zoe', 'Vayne']), ['champion', 'release_date']]

    champion release_date
48   Kalista   2014-11-20
61   Lee Sin   2011-04-01
96      Ryze   2009-02-21
115    Teemo   2009-02-21
125    Vayne   2011-05-10
137    Yasuo   2013-12-13
141      Zed   2012-11-13
144      Zoe   2017-11-21

**Câu 9** : Trong khoảng thời gian 1 năm kể từ khi ra mắt `Thresh`, có bao nhiêu tướng mới được ra mắt và lấy ra những tướng đó.

In [20]:
# lấy ra ngày ra mắt Thresh
th = pd.Timestamp(champs.loc[champs.champion == 'Thresh', 'release_date'].values[0])

# tạo thời điểm sau ngày ra mắt Thresh một năm
th2 = pd.Timestamp(year = th.year + 1, month = th.month, day = th.day)

# lấy ra những tướng ra mắt trong khoảng thời gian 1 năm sau ngày ra mắt Thresh
champs[(th < champs.release_date) & (champs.release_date < th2)]

      champion              title  ... health_at_lv1 health_at_lv18
0       Aatrox   the Darkin Blade  ...         580.0         2110.0
46        Jinx   the Loose Cannon  ...         581.0         2009.0
63   Lissandra      the Ice Witch  ...         550.0         2080.0
64      Lucian       the Purifier  ...         571.0         2033.0
88       Quinn    Demacia's Wings  ...         532.8         1977.8
137      Yasuo     the Unforgiven  ...         523.0         2002.0
140        Zac  the Secret Weapon  ...         615.0         2230.0

[7 rows x 8 columns]

**Câu 10** : Đếm số lượng tướng ra mắt trong mỗi năm.

_Gợi ý_ : tạo một cột mới chứa năm ra mắt tương ứng với từng tướng (dùng `.dt.year`)

In [22]:
champs.release_date.dt.year.value_counts().sort_index()

2009    42
2010    24
2011    24
2012    19
2013     8
2014     6
2015     5
2016     6
2017     5
2018     3
2019     4
Name: release_date, dtype: int64

**Câu 11** : Có bao nhiêu phân loại tướng và in những phân loại đó ra.

In [23]:
champs.primary.unique()

array(['Juggernaut', 'Burst', 'Assassin', 'Vanguard', 'Battlemage',
       'Marksman', 'Specialist', 'Catcher', 'Warden', 'Diver',
       'Skirmisher', 'Enchanter', 'Artillery'], dtype=object)

**Câu 12** : Lấy ra những tướng cùng phân loại với `Yasuo`.

In [28]:
# lấy ra phân loại của Yasuo
ys = champs.loc[champs.champion == 'Yasuo', 'primary'].values[0]

# lấy những tướng cùng phân loại với Yasuo
champs[champs.primary == ys]

       champion                 title  ... health_at_lv1 health_at_lv18
28        Fiora     the Grand Duelist  ...        550.00         1995.0
43          Jax   Grandmaster at Arms  ...        592.80         2037.8
54         Kayn     the Shadow Reaper  ...        585.00         2030.0
70    Master Yi    the Wuju Bladesman  ...        598.56         2162.6
94        Riven             the Exile  ...        558.48         2020.5
119  Tryndamere    the Barbarian King  ...        625.64         2291.6
137       Yasuo        the Unforgiven  ...        523.00         2002.0

[7 rows x 8 columns]

**Câu 13** : Lấy ra tên tướng `Marksman` (xạ thủ) mới nhất được ra mắt.

In [55]:
champs[champs.primary == 'Marksman'].sort_values(by = 'release_date').tail(1)

   champion         title  ... attack_per_lv health_per_lv
98    Senna  the Redeemer  ...           0.0          85.0

[1 rows x 10 columns]

**Câu 14** : Đếm số lượng tướng `Assassin` (sát thủ).

In [32]:
champs[champs.primary == 'Assassin'].shape[0]

15

Biết rằng, mỗi khi lên một cấp, các chỉ số (tấn công, máu) của tướng đều được cộng thêm một lượng và lượng gia tăng này giống nhau ở mọi cấp.

**Câu 15** : Tính lượng gia tăng mỗi cấp đó, để trong hai cột `attack_per_lv` và `health_per_lv` tương ứng với tấn công và máu.

In [50]:
# champs = champs.assign(
#     attack_per_lv = champs.attack_at_lv18.subtract(champs.attack_at_lv1).div(17), # tương đương (attack_at_lv18 - attack_at_lv1) /17
#     health_per_lv = champs.health_at_lv18.subtract(champs.health_at_lv1).div(17), # tương đương (health_at_lv18 - health_at_lv1) /17
# )
# từ cấp 1 lên cấp 18 có 17 lần lên cấp
champs = champs.assign(
    attack_per_lv = (champs.attack_at_lv18 - champs.attack_at_lv1) / 17,
    health_per_lv = (champs.health_at_lv18 - champs.health_at_lv1) / 17,
)
champs.head()

  champion                title  ... attack_per_lv health_per_lv
0   Aatrox     the Darkin Blade  ...      5.000000     90.000000
1     Ahri  the Nine-Tailed Fox  ...      2.997647     92.000000
2    Akali   the Rogue Assassin  ...      3.300000     95.000000
3  Alistar         the Minotaur  ...      3.622847    106.002353
4    Amumu        the Sad Mummy  ...      3.801176     83.998824

[5 rows x 10 columns]

**Câu 16** : Lấy ra 10 tướng có máu cao nhất ở **cấp độ 11**.

In [51]:
# sắp xếp tăng dần thì 10 tướng có máu cao nhất sẽ nằm dưới cùng
champs.assign(health_at_lv11 = champs.health_at_lv1 + 10 * champs.health_per_lv).sort_values(by = 'health_at_lv11').tail(10)

       champion               title  ... health_per_lv health_at_lv11
96         Ryze       the Rune Mage  ...     98.001176    1550.491765
140         Zac   the Secret Weapon  ...     95.000000    1565.000000
118     Trundle      the Troll King  ...     96.001176    1576.291765
138      Yorick   Shepherd of Souls  ...    100.000000    1580.000000
19       Darius   the Hand of Noxus  ...     99.997647    1582.216471
122        Udyr   the Spirit Walker  ...     98.998824    1583.308235
111  Tahm Kench      the River King  ...    100.000000    1600.000000
119  Tryndamere  the Barbarian King  ...     97.997647    1605.616471
3       Alistar        the Minotaur  ...    106.002353    1633.383529
30        Galio        the Colossus  ...    112.000000    1682.000000

[10 rows x 11 columns]

**Câu 17** : Lấy ra 10 tướng có tấn công thấp nhất ở **cấp độ 16**.

In [41]:
champs.assign(attack_at_lv16 = champs.attack_at_lv1 + 15 * champs.attack_per_lv).sort_values(by = 'attack_at_lv16').head(10)

         champion                  title  ... health_per_lv attack_at_lv16
98          Senna           the Redeemer  ...     85.000000      50.000000
41          Janna       the Storm's Fury  ...     70.000000      68.500000
82        Orianna  the Lady of Clockwork  ...     91.000000      79.396235
47         Kai'Sa   Daughter of the Void  ...     86.000000      84.500000
65           Lulu      the Fae Sorceress  ...     74.000000      85.396235
77          Neeko  the Curious Chameleon  ...     90.000000      85.500000
53          Kayle          the Righteous  ...     85.000000      87.500000
27   Fiddlesticks  the Harbinger of Doom  ...     80.000000      87.748235
116        Thresh       the Chain Warden  ...     92.998824      89.000000
6           Annie         the Dark Child  ...     88.000000      89.754118

[10 rows x 11 columns]

**Câu 18** : Tính lượng máu trung bình ở **các cấp** (1 - 18) của các tướng `Vanguard`.

---
_Gợi ý_ : Gọi :
- $\overline{hv}_{n}$ là lượng máu _trung bình_ của các tướng `Vanguard` ở cấp độ $n$.
- $\overline{hiv}$ là lượng máu gia tăng _trung bình_ mỗi cấp của các tướng `Vanguard`.

Thì : $\overline{hv}_{n} = \overline{hv}_{1} + (n-1)\cdot\overline{hiv}$

In [53]:
# lấy ra các tướng Vanguard
vanguard = champs[champs.primary == 'Vanguard']

# tính hv1 và hiv
hv1 = vanguard.health_at_lv1.mean()
hiv = vanguard.health_per_lv.mean()

# tính lượng máu trung bình
hvn = [hv1 + (n - 1) * hiv for n in range(1, 19)]

# thể hiện dưới dạng Series
vmh = pd.Series(data = hvn, index = range(1, 19), name = 'vanguard_mean_health')
vmh.index.name = 'level'
vmh

level
1      578.676923
2      668.600452
3      758.523982
4      848.447511
5      938.371041
6     1028.294570
7     1118.218100
8     1208.141629
9     1298.065158
10    1387.988688
11    1477.912217
12    1567.835747
13    1657.759276
14    1747.682805
15    1837.606335
16    1927.529864
17    2017.453394
18    2107.376923
Name: vanguard_mean_health, dtype: float64

**Câu 19** : Tính tấn công trung bình ở **các cấp** (1 - 18) của các tướng `Juggernaut`.

In [54]:
# lấy ra các tướng Juggernaut
jug = champs[champs.primary == 'Juggernaut']

# tính aj1 và ajv
aj1 = jug.attack_at_lv1.mean()
ajv = jug.attack_per_lv.mean()

# tính tấn công trung bình
ajn = [aj1 + (n - 1) * ajv for n in range(1, 19)]

# thể hiện dưới dạng DataFrame
jma = pd.Series(data = ajn, index = range(1, 19), name = 'juggernaut_mean_attack')
jma.index.name = 'level'
jma

level
1      64.636154
2      68.805520
3      72.974887
4      77.144253
5      81.313620
6      85.482986
7      89.652353
8      93.821719
9      97.991086
10    102.160452
11    106.329819
12    110.499186
13    114.668552
14    118.837919
15    123.007285
16    127.176652
17    131.346018
18    135.515385
Name: juggernaut_mean_attack, dtype: float64

Biết rằng, 1 điểm tấn công có giá trị 35 vàng, 1 điểm máu có giá trị 2.6 vàng.

**Câu 20** : Quy đổi các chỉ số được cộng thêm (tấn công, máu) ở **cấp độ 18** thành vàng và lấy ra 10 tướng có lượng vàng nhiều nhất.

In [49]:
champs.assign(bonus_stat_gold = (champs.attack_per_lv * 35 + champs.health_per_lv * 2.6) * 17).sort_values(by = 'bonus_stat_gold').tail(10)

    champion                 title  ... health_per_lv bonus_stat_gold
39    Irelia      the Blade Dancer  ...     95.000000        6579.000
105  Skarner  the Crystal Vanguard  ...     90.001176        6655.552
45      Jhin          the Virtuoso  ...     91.000000        6818.700
3    Alistar          the Minotaur  ...    106.002353        6840.898
0     Aatrox      the Darkin Blade  ...     90.000000        6953.000
30     Galio          the Colossus  ...    112.000000        7032.900
38    Illaoi  the Kraken Priestess  ...     95.000000        7174.000
122     Udyr     the Spirit Walker  ...     98.998824        7350.748
19    Darius     the Hand of Noxus  ...     99.997647        7394.896
138   Yorick     Shepherd of Souls  ...    100.000000        7395.000

[10 rows x 11 columns]